body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Content_Master_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:960px;
    height:678px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:684px;
}

.u1 {
    position:absolute;
    left:2px;
    top:331px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:29px;
    top:83px;
    width:221px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../RSS_Feed_-_Design_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:818px;
    top:620px;
    width:109px;
    height:36px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:818px;
    top:631px;
    width:104px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../RSS_Feed_-_Design_files/u4_normal.png');
}

.u7_container {
    position:absolute;
    left:29px;
    top:620px;
    width:109px;
    height:36px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:29px;
    top:631px;
    width:104px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:413px;
    top:209px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:395px;
    top:170px;
    width:147px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../RSS_Feed_-_Design_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:398px;
    top:309px;
    width:143px;
    height:106px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:112px;
}

.u13 {
    position:absolute;
    left:2px;
    top:45px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:376px;
    top:273px;
    width:184px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:414px;
    top:247px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../RSS_Feed_-_Design_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:210px;
    top:20px;
    width:180px;
    height:44px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../RSS_Feed_-_Design_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:29px;
    top:20px;
    width:180px;
    height:44px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u19 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../RSS_Feed_-_Design_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:389px;
    top:20px;
    width:180px;
    height:44px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../RSS_Feed_-_Design_files/u16_normal.png');
}

.u22_container {
    position:absolute;
    left:567px;
    top:20px;
    width:180px;
    height:44px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u23 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../RSS_Feed_-_Design_files/u16_normal.png');
}

.u24_container {
    position:absolute;
    left:747px;
    top:20px;
    width:180px;
    height:44px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

