body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Content_Master_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:960px;
    height:678px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:684px;
}

.u1 {
    position:absolute;
    left:2px;
    top:331px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:29px;
    top:83px;
    width:221px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:567px;
    top:202px;
    width:110px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Featured_5s-_Details_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:189px;
    top:246px;
    width:280px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:45px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Featured_5s-_Details_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:189px;
    top:289px;
    width:280px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:45px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Featured_5s-_Details_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:189px;
    top:332px;
    width:280px;
    height:45px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:45px;
}

.u10 {
    position:absolute;
    left:2px;
    top:14px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Featured_5s-_Details_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:189px;
    top:375px;
    width:280px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:45px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:209px;
    top:260px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:209px;
    top:303px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:209px;
    top:346px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:209px;
    top:389px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:193px;
    top:174px;
    width:151px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Featured_5s-_Details_files/u5_normal.png');
}

.u18_container {
    position:absolute;
    left:190px;
    top:202px;
    width:280px;
    height:45px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:45px;
}

.u19 {
    position:absolute;
    left:2px;
    top:14px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:209px;
    top:219px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:498px;
    top:259px;
    width:109px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:637px;
    top:259px;
    width:109px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:498px;
    top:244px;
    width:38px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:637px;
    top:245px;
    width:38px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Featured_5s-_Details_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:498px;
    top:291px;
    width:248px;
    height:22px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:28px;
}

.u26 {
    position:absolute;
    left:2px;
    top:3px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Featured_5s-_Details_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:210px;
    top:22px;
    width:180px;
    height:44px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u28 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Featured_5s-_Details_files/u27_normal.png');
}

.u29_container {
    position:absolute;
    left:29px;
    top:22px;
    width:180px;
    height:44px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u30 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Featured_5s-_Details_files/u27_normal.png');
}

.u31_container {
    position:absolute;
    left:389px;
    top:22px;
    width:180px;
    height:44px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u32 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Featured_5s-_Details_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:567px;
    top:22px;
    width:180px;
    height:44px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u34 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Featured_5s-_Details_files/u27_normal.png');
}

.u35_container {
    position:absolute;
    left:747px;
    top:22px;
    width:180px;
    height:44px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Featured_5s-_Details_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:818px;
    top:620px;
    width:109px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:36px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:818px;
    top:631px;
    width:104px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Featured_5s-_Details_files/u37_normal.png');
}

.u40_container {
    position:absolute;
    left:29px;
    top:620px;
    width:109px;
    height:36px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:36px;
}

.u41 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:29px;
    top:631px;
    width:104px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

