body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../New_Master_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:6px;
    width:960px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../New_Master_1_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:227px;
    top:30px;
    width:744px;
    height:35px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:741px;
    height:32px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:734px;
    height:25px
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:83px;
    top:0px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:183px;
    top:0px;
    width:95px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:278px;
    top:0px;
    width:76px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:354px;
    top:0px;
    width:98px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:453px;
    top:0px;
    width:79px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:532px;
    top:0px;
    width:98px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:630px;
    top:0px;
    width:98px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../New_Master_1_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:25px;
    top:18px;
    width:123px;
    height:55px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:61px;
}

.u21 {
    position:absolute;
    left:2px;
    top:20px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../New_Master_1_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:87px;
    width:960px;
    height:601px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:607px;
}

.u23 {
    position:absolute;
    left:2px;
    top:292px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:25px;
    top:108px;
    width:325px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:370px;
    top:124px;
    width:20px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Presenting_Partners_-_Add_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:25px;
    top:285px;
    width:289px;
    height:48px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:289px;
    height:48px;
}

.u28 {
    position:absolute;
    left:2px;
    top:16px;
    width:285px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:239px;
    top:299px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Presenting_Partners_-_Add_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:32px;
    top:361px;
    width:188px;
    height:160px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:166px;
}

.u31 {
    position:absolute;
    left:2px;
    top:72px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Presenting_Partners_-_Add_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:25px;
    top:200px;
    width:282px;
    height:47px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:282px;
    height:47px;
}

.u33 {
    position:absolute;
    left:2px;
    top:16px;
    width:278px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:43px;
    top:215px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:31px;
    top:257px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:31px;
    top:172px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Presenting_Partners_-_Add_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:818px;
    top:620px;
    width:109px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:36px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:818px;
    top:631px;
    width:104px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

