body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../New_Master_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:6px;
    width:960px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../New_Master_1_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:227px;
    top:30px;
    width:744px;
    height:35px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:741px;
    height:32px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:734px;
    height:25px
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:83px;
    top:0px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:183px;
    top:0px;
    width:95px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:278px;
    top:0px;
    width:76px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:354px;
    top:0px;
    width:98px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:453px;
    top:0px;
    width:79px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:532px;
    top:0px;
    width:98px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:630px;
    top:0px;
    width:98px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../New_Master_1_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:25px;
    top:18px;
    width:123px;
    height:55px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:61px;
}

.u21 {
    position:absolute;
    left:2px;
    top:20px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../New_Master_1_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:87px;
    width:960px;
    height:601px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:607px;
}

.u23 {
    position:absolute;
    left:2px;
    top:292px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:818px;
    top:620px;
    width:109px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:818px;
    top:631px;
    width:104px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:31px;
    top:110px;
    width:184px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:71px;
    top:141px;
    width:144px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:9px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:31px;
    top:141px;
    width:40px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u32 {
    position:absolute;
    left:2px;
    top:6px;
    width:36px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:219px;
    top:138px;
    width:87px;
    height:36px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:87px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:10px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:224px;
    top:149px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u25_normal.png');
}

.u36_container {
    position:absolute;
    left:699px;
    top:620px;
    width:109px;
    height:36px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:36px;
}

.u37 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:699px;
    top:631px;
    width:104px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:19px;
    top:191px;
    width:908px;
    height:54px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:908px;
    height:54px;
}

.u40 {
    position:absolute;
    left:2px;
    top:19px;
    width:904px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:39px;
    top:208px;
    width:100px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u39_normal.png');
}

.u42_container {
    position:absolute;
    left:20px;
    top:254px;
    width:908px;
    height:54px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:908px;
    height:54px;
}

.u43 {
    position:absolute;
    left:2px;
    top:19px;
    width:904px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:39px;
    top:270px;
    width:100px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u39_normal.png');
}

.u45_container {
    position:absolute;
    left:21px;
    top:318px;
    width:908px;
    height:54px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:908px;
    height:54px;
}

.u46 {
    position:absolute;
    left:2px;
    top:19px;
    width:904px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:39px;
    top:335px;
    width:100px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u39_normal.png');
}

.u48_container {
    position:absolute;
    left:21px;
    top:383px;
    width:908px;
    height:54px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:908px;
    height:54px;
}

.u49 {
    position:absolute;
    left:2px;
    top:19px;
    width:904px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:39px;
    top:400px;
    width:100px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Stream_Artist_Group_-_Add_files/u39_normal.png');
}

.u51_container {
    position:absolute;
    left:22px;
    top:449px;
    width:908px;
    height:54px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:908px;
    height:54px;
}

.u52 {
    position:absolute;
    left:2px;
    top:19px;
    width:904px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:39px;
    top:466px;
    width:100px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

