body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../New_Master_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:6px;
    width:960px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../New_Master_1_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:227px;
    top:30px;
    width:744px;
    height:35px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:741px;
    height:32px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:734px;
    height:25px
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:83px;
    top:0px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:183px;
    top:0px;
    width:95px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:278px;
    top:0px;
    width:76px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:354px;
    top:0px;
    width:98px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:453px;
    top:0px;
    width:79px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:532px;
    top:0px;
    width:98px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:630px;
    top:0px;
    width:98px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../New_Master_1_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:25px;
    top:18px;
    width:123px;
    height:55px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:61px;
}

.u21 {
    position:absolute;
    left:2px;
    top:20px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../New_Master_1_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:87px;
    width:960px;
    height:601px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:607px;
}

.u23 {
    position:absolute;
    left:2px;
    top:292px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:25px;
    top:108px;
    width:275px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../Highlighted_Artist_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:923px;
    height:3px;
}

.u26 {
    position:absolute;
    left:27px;
    top:254px;
    width:923px;
    height:10px;
    
}

.u27 {
    position:absolute;
    left:25px;
    top:287px;
    width:184px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:240px;
    top:170px;
    width:184px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:343px;
    top:124px;
    width:20px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Highlighted_Artist_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:65px;
    top:318px;
    width:144px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u31 {
    position:absolute;
    left:2px;
    top:9px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Highlighted_Artist_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:25px;
    top:318px;
    width:40px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:36px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Highlighted_Artist_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:770px;
    top:170px;
    width:180px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u35 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Highlighted_Artist_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:730px;
    top:170px;
    width:40px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:36px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Highlighted_Artist_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:20px;
    top:366px;
    width:941px;
    height:54px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:941px;
    height:54px;
}

.u39 {
    position:absolute;
    left:2px;
    top:19px;
    width:937px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:68px;
    top:383px;
    width:100px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:40px;
    top:383px;
    width:23px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:849px;
    top:385px;
    width:100px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Highlighted_Artist_files/u38_normal.png');
}

.u43_container {
    position:absolute;
    left:20px;
    top:431px;
    width:941px;
    height:54px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:941px;
    height:54px;
}

.u44 {
    position:absolute;
    left:2px;
    top:19px;
    width:937px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:68px;
    top:448px;
    width:100px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:40px;
    top:448px;
    width:23px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:849px;
    top:450px;
    width:100px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Highlighted_Artist_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:21px;
    top:493px;
    width:940px;
    height:54px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:940px;
    height:54px;
}

.u49 {
    position:absolute;
    left:2px;
    top:19px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:69px;
    top:510px;
    width:100px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:41px;
    top:510px;
    width:23px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:850px;
    top:512px;
    width:100px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Highlighted_Artist_files/u48_normal.png');
}

.u53_container {
    position:absolute;
    left:21px;
    top:558px;
    width:940px;
    height:54px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:940px;
    height:54px;
}

.u54 {
    position:absolute;
    left:2px;
    top:19px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:69px;
    top:575px;
    width:100px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:41px;
    top:575px;
    width:23px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:850px;
    top:577px;
    width:100px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:456px;
    top:170px;
    width:184px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_normal {
    background-image: url('../Highlighted_Artist_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:213px;
    top:315px;
    width:87px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:87px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:218px;
    top:326px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Highlighted_Artist_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:25px;
    top:171px;
    width:184px;
    height:22px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:190px;
    height:28px;
}

.u63 {
    position:absolute;
    left:2px;
    top:3px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:27px;
    top:220px;
    width:510px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

