body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Content_Master_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:960px;
    height:678px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:684px;
}

.u1 {
    position:absolute;
    left:2px;
    top:331px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:29px;
    top:83px;
    width:221px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../General_URLS_-_Design_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:818px;
    top:620px;
    width:109px;
    height:36px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:818px;
    top:631px;
    width:104px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:176px;
    top:131px;
    width:142px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:213px;
    top:163px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../General_URLS_-_Design_files/u4_normal.png');
}

.u9_container {
    position:absolute;
    left:29px;
    top:620px;
    width:109px;
    height:36px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:29px;
    top:631px;
    width:104px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../General_URLS_-_Design_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:499px;
    top:159px;
    width:289px;
    height:48px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:289px;
    height:48px;
}

.u13 {
    position:absolute;
    left:2px;
    top:16px;
    width:285px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:713px;
    top:173px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../General_URLS_-_Design_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:505px;
    top:214px;
    width:275px;
    height:160px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:166px;
}

.u16 {
    position:absolute;
    left:2px;
    top:72px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../General_URLS_-_Design_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:203px;
    top:211px;
    width:282px;
    height:47px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:282px;
    height:47px;
}

.u18 {
    position:absolute;
    left:2px;
    top:16px;
    width:278px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:221px;
    top:226px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../General_URLS_-_Design_files/u17_normal.png');
}

.u20_container {
    position:absolute;
    left:203px;
    top:268px;
    width:282px;
    height:47px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:282px;
    height:47px;
}

.u21 {
    position:absolute;
    left:2px;
    top:16px;
    width:278px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:221px;
    top:283px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:505px;
    top:131px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../General_URLS_-_Design_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:507px;
    top:447px;
    width:74px;
    height:63px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:69px;
}

.u25 {
    position:absolute;
    left:2px;
    top:24px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:507px;
    top:417px;
    width:184px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:505px;
    top:391px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../General_URLS_-_Design_files/u17_normal.png');
}

.u28_container {
    position:absolute;
    left:203px;
    top:321px;
    width:282px;
    height:47px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:282px;
    height:47px;
}

.u29 {
    position:absolute;
    left:2px;
    top:16px;
    width:278px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:221px;
    top:336px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../General_URLS_-_Design_files/u17_normal.png');
}

.u31_container {
    position:absolute;
    left:203px;
    top:374px;
    width:282px;
    height:47px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:282px;
    height:47px;
}

.u32 {
    position:absolute;
    left:2px;
    top:16px;
    width:278px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:221px;
    top:389px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../General_URLS_-_Design_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:210px;
    top:20px;
    width:180px;
    height:44px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u35 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../General_URLS_-_Design_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:29px;
    top:20px;
    width:180px;
    height:44px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u37 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../General_URLS_-_Design_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:389px;
    top:20px;
    width:180px;
    height:44px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u39 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../General_URLS_-_Design_files/u34_normal.png');
}

.u40_container {
    position:absolute;
    left:567px;
    top:20px;
    width:180px;
    height:44px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u41 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../General_URLS_-_Design_files/u34_normal.png');
}

.u42_container {
    position:absolute;
    left:747px;
    top:20px;
    width:180px;
    height:44px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u43 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

